<div class="container mt-2">
  <form class="row">
    <div class="col col-lg-3 col-md-12 mb-3" *ngFor="let recept of receptek; index as i">
      <section class="mx-auto my-1" style="max-width: 20rem;">

        <div class="card">

          <div class="bg-image hover-overlay ripple rounded-0" data-mdb-ripple-color="light">
            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/full page/2.jpg"
              alt="Card image cap" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
          <div class="card-body">
            <h6 class="card-title font-weight-bolder mb-2 text-center" [routerLink]="['../bekuldottrecept', recept.id]">
              {{recept.receptNev}}</h6>
            <button class="btn btn-success" (click)="editRecept(recept)"><fa-icon
                [icon]="pentosquare"></fa-icon></button>
            <button class="btn btn-danger" (click)="deleteRecept(recept)"><fa-icon [icon]="fatrash"></fa-icon></button>
            <button class="btn btn-danger" (click)="elfogadRecept(recept)">Elfogadás</button>



          </div>
        </div>

      </section>

    </div>
  </form>

</div>