<div class="container-fluid text-center pt-5 pb-3 bg-light">
    <div class="container  mb-5 d-flex justify-content-center ">
        <div class="card px-1 py-4">
            <div class="card-body">
                <h1>Mit ennél ma ?</h1>
                <span class="card-title mb-3">Napszak kiválasztása</span>
                <div class="d-flex flex-row mt-2">
                    <label class="radio mr-1">
                        <input type="radio" name="add" value="anz" checked>
                        <span> <i class="fa fa-user"></i>Reggeli</span>
                    </label>
                    <label class="radio">
                        <input type="radio" name="tizorai" value="tizorai">
                         <span> <i class="fa fa-plus-circle"></i>Tízórai</span>
                    </label>
                    <label class="radio">
                        <input type="radio" name="add" value="add">
                         <span> <i class="fa fa-plus-circle"></i>Ebéd</span>
                    </label>
                    <label class="radio">
                        <input type="radio" name="add" value="add">
                         <span> <i class="fa fa-plus-circle"></i>Uzsonna</span>
                    </label>
                    <label class="radio">
                        <input type="radio" name="add" value="add">
                         <span> <i class="fa fa-plus-circle"></i>Vacsora</span>
                    </label>
                </div>
                <div class="card-body">
                    <span class="card-title mb-3">Gluténmentes?</span>
                    <div class="d-flex flex-row mt-2 ">
                        <label class="radio mr-1 ">
                            <input type="radio" name="alma" value="anz">
                            <span>Igen</span>
                        </label>
                        <label class="radio">
                            <input type="radio" name="add" value="add">
                             <span>Nem</span>
                        </label>
                     
                    </div>
                <h6 class="information mt-4">Please provide following information about Anz CMK</h6>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Name">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="input-group"> <input class="form-control" type="text" placeholder="Mobile">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="input-group"> <input class="form-control" type="text" placeholder="Email ID">
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" d-flex flex-column text-center px-5 mt-3 mb-3"> <small class="agree-text">By Booking this
                        appointment you agree to the</small> <a href="#" class="terms">Terms & Conditions</a> </div>
                <button class="btn btn-primary btn-block confirm-button">Confirm</button>
            </div>
        </div>
    </div>


</div>
