
.card{
    width:500px;
    background-color:#fff;
    border:none;
    border-radius: 12px
}

.card-title{
    font-weight: bold;
}

.btn-check:checked + .btn-kivalaszt {
    background-color: #2F6B63;
    color: white;
  }

.btn-kivalaszt{
    color: black;
    background-color: #f0f0f0;
    border: none;
    width: 90px;
    height: 40px;
    padding-top: 10px;
    cursor: pointer;
}

.confirm-button{
    background-color: #2F6B63;
    color: white;
    width: 150px;
    height: 40px;
    border: none;
    cursor: pointer;
}

