*{
    margin: 0px;
    padding: 0px;
}

.receptNev{
    border: none !important;
    margin: 10px 0px 10px 0px;
}

.fileuploadBackground{
    background: #008B8B;
}

.dropzone{
    height: 75%;
}

.card{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 4px 0px;
}

.card-title{
    font-weight: bold;
    background-color: #377d73;
    width: 100%;
}

.boxTitle span{
    background-color: #2F6B63;
}

.uploadButton{
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.form-select{
    background: #f8f9fb;
}

.deleteButton{
    color: red;
    cursor: pointer;
}

.addButton{
    color: #2F6B63;
    cursor: pointer;
}

.btn-check:checked + .btn-kivalaszt {
    background-color: #2F6B63;
    color: white;
  }

.btn-kivalaszt{
    color: black;
    background-color: #f0f0f0;
    border: none;
    width: 90px;
    height: 40px;
    padding-top: 10px;
    cursor: pointer;
}

.btn-kivalasztSmall{
    color: black;
    background-color: #f0f0f0;
    border: none;
    width: 60px;
    height: 30px;
    padding-top: 5px;
    cursor: pointer;
}


.btn-check:checked + .btn-kivalasztSmall {
    background-color: #2F6B63;
    color: white;
  }

.confirm-button{
    background-color: #2F6B63;
    color: white;
    width: 150px;
    height: 40px;
    border: none;
    cursor: pointer;
}





