<div class="container-fluid pt-2">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-2 col-lg-2 px-sm-0 bg-white adminNav">
            <div class="align-items-sm-center min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto adminMenu text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline ms-3">Admin Panel</span>
                </a>
                <ul class="nav flex-column mb-sm-auto" id="menu">
                    <li>
                        <a routerLink="bekuldottfajlok" class="nav-link align-middle">
                            <fa-icon [icon]="fafile" ></fa-icon> <span class="ms-2 d-none d-sm-inline">Beküldött fájlok</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="bekuldottreceptek" class="nav-link align-middle">
                            <fa-icon [icon]="facheck" ></fa-icon> <span class="ms-2 d-none d-sm-inline">Receptek</span></a>
                    </li>
                    <li>
                        <a routerLink="users" href="#" class="nav-link align-middle">
                            <fa-icon [icon]="fauser"></fa-icon> <span class="ms-2 d-none d-sm-inline">Felhasználók</span>
                        </a>
                    </li>
                    <li>
                        <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Üres fül</span> </a>
                        <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 1</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 2</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 3</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 4</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <hr>
                <div class="dropdown pb-4">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                        id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30"
                            class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">loser</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                        <li><a class="dropdown-item" href="#">New project...</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                </div>

            </div>

        </div>
        <div class="col py-3 bg-light">
            <router-outlet></router-outlet>
        </div>

    </div>
</div>