<div *ngIf="recept" class="container-fluid">
  <div class=" boxTitle d-flex mb-1 text-white">
    <span class="p-2"><fa-icon class="pt-2" size="xl" [icon]="pentosquare"></fa-icon></span>
    <h5 class="card-title ps-4 pt-2 text-start">Recept szerkesztése</h5>
</div>
    <form #receptForm="ngForm" class="w-75 mx-auto" (ngSubmit)="onUpdate()">
      <div class="form-group mt-2">
        <label>Recept neve:</label>
        <input class="form-control mt-1" name="name" 
          [(ngModel)]="recept.receptNev" required>
      </div>
  
     
  
      <div class="form-group float-right">
       <button type="submit" class="sendButton mt-4 mb-2" [disabled]="!receptForm.valid">
          <i class="bi bi-plus"></i>Recept módosítása</button>
       </div>
    </form>
  </div>
