body {
  background-color: #f5f7fa;
}

.recipeImg img {
  width: 200px;
  height: 200px;
}

.kategoria {
  color: #2F6B63;
  border-radius: 4px;
  border: none;
  font-size: 12px;
  background-color: white;
  padding: 3px 30px 3px 30px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 4px 0px;
}

.hozzavalok{
  margin-top: -20px;
  font-size: 15px;
}

.elkeszitesiInfo {
  background: #f8f9fb;
}

.title {
  color: #2F6B63;
}

ul li::marker {
  color: #2F6B63;
  font-size: 15px;
}

ol li:hover{
  background-color: #f8f9fb;
}