<div class="container mt-3 bg-white" *ngIf="recept">
  <div class="row text-center pt-3">
    <div class="col col-sm-12">
      <h1 class="mb-3">{{recept.receptNev}}</h1>
      <button class="kategoria me-3">{{recept.kategoria}}</button>
      <button class="kategoria me-3">{{ recept.glutenmentes ? 'Glutenmentes' : 'Glutént tartalmazhat' }}</button>
      <button class="kategoria me-3">{{ recept.cukrotTartalmaz ? 'Cukrot tartalmaz' : 'Cukormentes' }}</button>
      <button class="kategoria me-3">{{ recept.tejmentes ? 'Tejmentes' : 'Tejet tartalmaz' }}</button>
      <button class="kategoria me-3">{{ recept.tojasmentes ? 'Tojásmentes' : 'Tojást tartalmaz' }}</button>
      <button class="kategoria me-3">{{ recept.laktozmentes ? 'Laktozmentes' : 'Laktózt tartalmaz' }}</button>
     
    </div>
  </div>
  <div class="row">
    <div class="col col-sm-12 text-center mt-5 recipeImg">
      <img id="receptKep" src="" alt="ez majd itt a kép helye lesz">
    </div>
  </div>
  <div class="row elkeszitesiInfo pt-2">
    <div class="col col-lg-4 text-center">
      <span class="title">Előkészülés</span>
    </div>
    <div class="col col-lg-4 text-center">
      <span class="title">Sütés</span>
    </div>
    <div class="col col-lg-4 text-center">
      <span class="title">Elkészítési idő</span>
    </div>
  </div>
  <div class="row elkeszitesiInfo pb-2">
    <div class="col col-lg-4 text-center">
      <span>{{recept.elokeszulesiIdo}} perc</span>
    </div>
    <div class="col col-lg-4 text-center">
      <span>{{recept.sutesiIdo}} perc</span>
    </div>
    <div class="col col-lg-4 text-center">
      <span>{{recept.elkeszitesiIdo}} perc</span>
    </div>
  </div>
  <div class="row mt-3 hozzavalok">
    <h2 class="mb-4">Hozzávalók</h2>
    <ul>
      <li class="ms-3">alma</li>
    </ul>
  </div>
  <div class="container">
    <hr>
  </div>
  <div class="row mt-5">
    <div class="col col-lg-12">
      <h2>Elkészítés</h2>
    </div>
  </div>
  <div class="row mt-3">
    <ol>
      <li class="ms-3">
        <p class="ms-2">{{recept.elkeszites}}</p>
      </li>
    </ol>
  </div>
  <div class="row">
    <div class="col col-md-3">
      <button class="btn btn-success">Elkészítettem</button>
    </div>
  </div>
  <div>
    <hr>
  </div>
  <div class="row mt-3">
    <p>A recept elkészítve: alkalommal</p>
    <p>Feltöltés dátuma: .....</p>
    <p>Feltöltötte: ...</p>
  </div>

</div>